###############################
# ArCLight
###############################
[ArCLight]
class                   = duneggd.ArgonCube.ArCLight.ArCLightBuilder
subbuilders             = []
WLS_dimension           = {'dx':Q('280.000mm')/2,'dy':Q('300.000mm')/2,'dz':Q('010.000mm')/2,'mirror_dd':Q('000.127mm')/2,'tpb_dz':Q('000.100mm')/2}
SiPM_dimension          = {'dx':Q('001.470mm')/2,'dy':Q('006.000mm')/2,'dz':Q('006.000mm')/2,'pitch':Q('047.000mm')/2}
SiPM_Mask               = {'dx':Q('001.650mm')/2,'dy':Q('078.250mm')/2,'dz':Q('010.000mm')/2,'pitch':Q('104.950mm')/2}
SiPM_PCB                = {'dx':Q('003.000mm')/2,'dy':Q('099.500mm')/2,'dz':Q('010.000mm')/2,'pitch':Q('104.950mm')/2}
N_SiPM                  = 6
N_Mask                  = 3

###############################
# LCM
###############################
[LCM]
class                   = duneggd.ArgonCube.LCM.LCMBuilder
subbuilders             = []
Fiber_dimension         = {'rmin':Q('000.000mm'),'rmax':Q('000.600mm'),'dz':{ArCLight:WLS_dimension}['dx']+2*{ArCLight:WLS_dimension}['mirror_dd'],'pitch':Q('001.800mm')/2,'dd':Q('003.800mm')/2,'tpb_dr':Q('000.001mm'),'offset':Q('1mm')/2}
SiPM_LCM_dimension      = {'dx':Q('001.470mm')/2,'dy':Q('099.000mm')/4,'dz':Q('001.200mm')/2,'pitch':Q('049.750mm')/2}
SiPM_LCM_Mask           = {'dx':Q('001.650mm')/2,'dy':Q('099.500mm')/2,'dz':Q('010.000mm')/2,'pitch':Q('104.950mm')/2}
SiPM_LCM_PCB            = {'dx':Q('003.000mm')/2,'dy':Q('099.500mm')/2,'dz':Q('010.000mm')/2,'pitch':Q('104.950mm')/2}
N_Fiber_LCM             = 25
N_SiPM_LCM              = 2

###############################
# LCM Plane
###############################
[LCMPlane]
class                   = duneggd.ArgonCube.LCMPlane.LCMPlaneBuilder
subbuilders             = ['LCM']
LCM_pitch               = {LCM:SiPM_LCM_PCB}['pitch']
N_LCM                   = 3

###############################
# PixelPlane
###############################
[PixelPlane]
class                   = duneggd.ArgonCube.PixelPlane.PixelPlaneBuilder
subbuilders             = []
PCB_dimension           = {'dx':Q('003.175mm')/2,'dy':Q('309.900mm')/2,'dz':Q('309.900mm')/2}
Pixel_dimension         = {'dx':Q('000.051mm')/2,'dy':Q('002.000mm')/2,'dz':Q('002.000mm')/2}
Asic_dimension          = {'dx':Q('001.422mm')/2,'dy':Q('016.000mm')/2,'dz':Q('016.000mm')/2}
N_Pixel                 = 0
N_Asic                  = 10

###############################
# TPCPlane
###############################
[TPCPlane]
class                   = duneggd.ArgonCube.TPCPlane.TPCPlaneBuilder
subbuilders             = ['PixelPlane']
Gap_PixelTile           = Q('0.500mm')/2
N_UnitsY                = 4

###############################
# OpticalDet
###############################
[OpticalDetL]
class                     = duneggd.ArgonCube.OpticalDetL.OpticalDetLBuilder
subbuilders               = ['TPCPlane','ArCLight','LCMPlane']
Gap_LightTile             = Q('001.000mm')/2
Gap_LightTile_PixelPlane  = Q('005.283mm')/2
N_TilesY                  = 4

[OpticalDetR]
class                     = duneggd.ArgonCube.OpticalDetR.OpticalDetRBuilder
subbuilders               = ['TPCPlane','ArCLight','LCMPlane']
Gap_LightTile             = Q('001.000mm')/2
Gap_LightTile_PixelPlane  = Q('005.283mm')/2
N_TilesY                  = 4

###############################
# TPC
###############################
[TPC]
class                   = duneggd.ArgonCube.TPC.TPCBuilder
subbuilders             = ['OpticalDetL','OpticalDetR']
Drift_Length            = Q('302.723mm')/2

###############################
# OptSim
###############################
[OptSim]
class                   = duneggd.ArgonCube.OptSim.OptSimBuilder
subbuilders             = ['TPC']
Fieldcage_dimension     = {'dx':Q('632.000mm')/4,'dy':Q('1268.222mm')/2,'dz':Q('647.497mm')/2,'dd':Q('3.175mm')/2}
Bracket_dimension       = {'dx':Q('010.668mm')/2,'dy':Q('1260.856mm')/2,'dz':Q('015.240mm')/2}
Cathode_dx              = Q('3.175mm')/2

