##############################
# LAr Active Volume - Sides only
##############################
[LArActive]
class                 = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
Material              = 'LAr'
Sensitive             = 'ArgonCube'
halfDimension         = {'dx':Q('25cm'), 'dy':Q('100cm'), 'dz':Q('50cm')}

##############################
# Resistive Field-Shaper Top
##############################
[ResistiveWireTop]
class                 = duneggd.Active.TubeBar.TubeBarBuilder
Material              = 'Copper'
halfDimension         = {'rmin':Q('0cm'), 'rmax':Q('0.72cm'), 'dz':{LArActive:halfDimension}['dz']}


[ResistiveFieldTop]
class                 = duneggd.Component.SingleArrangePlane.SingleArrangePlaneBuilder
subbuilders           = ['ResistiveWireTop']
halfDimension         = {'dx':{LArActive:halfDimension}['dx'],
                         'dy':{ResistiveWireTop:halfDimension}['rmax'],
                         'dz':{LArActive:halfDimension}['dz']}
InsideGap             = Q('0.72cm')
NElements             = 23
Material              = 'Air'

##############################
# Resistive Field-Shaper Side
##############################
[ResistiveWireSide]
class                 = duneggd.Active.TubeBar.TubeBarBuilder
Material              = 'Copper'
halfDimension         = {'rmin':Q('0cm'),'rmax':Q('0.72cm'),'dz':{LArActive:halfDimension}['dy']}

[ResistiveFieldSide]
class                 = duneggd.Component.SingleArrangePlane.SingleArrangePlaneBuilder
subbuilders           = ['ResistiveWireSide']
NElements             = 23
InsideGap             = Q('0.72cm')
Rotation              = ['90deg','0deg','0deg']
halfDimension         = {'dx':{LArActive:halfDimension}['dx'],
                         'dy':{LArActive:halfDimension}['dy'],
                         'dz':Q('0.5cm')}
Material              = 'Air'

##############################
# Cathode
##############################
[LArCathode]
class                 = duneggd.Component.SingleArrangePlane.SingleArrangePlaneBuilder
Material              = 'Scintillator'
halfDimension         = {'dx':Q('0.72cm'),
                         'dy':{LArActive:halfDimension}['dy'],
                         'dz':{LArActive:halfDimension}['dz']}

##############################
# LArSubModuleLeft
##############################
[LArSubModuleLeft]
class                  = duneggd.SubDetector.CrossSubDetector.CrossSubDetectorBuilder
subbuilders            = ['LArActive','ResistiveFieldTop','ResistiveFieldSide']
Material               = 'Air'
TranspP                = {'top':[0,1,0], 'side':[0,0,1]}
halfDimension          = {'dx':{LArActive:halfDimension}['dx'],
                          'dy':{LArActive:halfDimension}['dy']+2*{ResistiveWireTop:halfDimension}['rmax'],
                          'dz':{LArActive:halfDimension}['dz']+2*{ResistiveWireSide:halfDimension}['rmax']}

##############################
# LArSubModuleRight
##############################
[LArSubModuleRight]
class                  = duneggd.SubDetector.CrossSubDetector.CrossSubDetectorBuilder
subbuilders            = ['LArActive','ResistiveFieldTop','ResistiveFieldSide']
Material               = 'Air'
TranspP                = {'top':[0,1,0], 'side':[0,0,1]}
halfDimension          = {'dx':{LArActive:halfDimension}['dx'],
                          'dy':{LArActive:halfDimension}['dy']+2*{ResistiveWireTop:halfDimension}['rmax'],
                          'dz':{LArActive:halfDimension}['dz']+2*{ResistiveWireSide:halfDimension}['rmax']}

##############################
# LArModule
##############################
[LArModule]
class                  = duneggd.SubDetector.ComplexSubDetector.ComplexSubDetectorBuilder
subbuilders            = ['LArSubModuleLeft','LArCathode','LArSubModuleRight']
TranspV                = [1,0,0]
halfDimension          = {'dx':2*{LArSubModuleLeft:halfDimension}['dx']+{LArCathode:halfDimension}['dx'],
                          'dy':{LArSubModuleLeft:halfDimension}['dy'],
                          'dz':{LArSubModuleLeft:halfDimension}['dz']}
Material               = 'Air'
NElements              = 1
