[CylindricalMPT]
class               = duneggd.SubDetector.CylindricalMPT.CylindricalMPTBuilder
subbuilders         = ['GArTPC']
buildGarTPC    	    = True
###############################
# GArTPC
###############################
[GArTPC]
class               = duneggd.SubDetector.GArTPC.GArTPCBuilder
subbuilders         = []
# this builds an active TPC out to a radius of 2.60m and length
# and a gas buffer out to a radius of 2.74m and 2.60m long
#
#   1) The buffer is called TPCGasVol out to a radius of 2.73m
#      and a length of 2.58m
#
#   2) The buffer is called TPCChamber the last 1cm in each direction.
#      The original idea was that the TPChamber volume was the steel
#      pressure vessel. Now we want to stick an ECAL inside the vessel,
#      so here we just make it more gas and we'll make our own vessel
#      at a larger radius.
#
halfDimension       = {'rmin':Q('0cm'),'rmax':Q('274cm'),'dz':Q('260cm')}
tpcDimension        = {'r':Q('260cm'),'dz':Q('250cm')}
chamberDimension    = { 'r':Q('274cm'),'dz':Q('520cm') }
ChamberMaterial = 'HP_ArCO2'
GasType            = 'HP_ArCO2'
drift               = 'z'



