[MuIDBarrel]
subbuilders = ['RPCTray_End']
class = duneggd.SubDetector.MuIDEnd.MuIDEndBuilder
modMuidDim = [Q('400cm'), Q('400cm'), Q('64.5cm')]
modSteelPlateDim = [Q('400cm'), Q('400cm'), Q('20cm')]
modNTraysPerPlane = 1
modNPlanes =  1
modMuidMat = 'Steel'
modMuidRot = 'r90aboutX'

#Loading MuID upstream SubDetector
[MuIDUpstream]
subbuilders = ['RPCTray_End']
class = duneggd.SubDetector.MuIDEnd.MuIDEndBuilder
modMuidDim = [Q('400cm'), Q('400cm'), Q('64.5cm')]
modSteelPlateDim = [Q('400cm'), Q('400cm'), Q('20cm')]
modMuidPos =[Q('0cm'),Q('0cm'),Q('-300cm')]
modNTraysPerPlane = 1
modNPlanes =  1
modMuidMat = 'Steel'
modMuidRot = 'noRotate'

#Loading MuID downstream SubDetector
[MuIDDownstream]
subbuilders = ['RPCTray_End']
class = duneggd.SubDetector.MuIDEnd.MuIDEndBuilder
modMuidDim = [Q('400cm'), Q('400cm'), Q('64.5cm')]
modSteelPlateDim = [Q('400cm'), Q('400cm'), Q('20cm')]
modMuidPos =[Q('0cm'),Q('0cm'),Q('300cm')]
modNTraysPerPlane = 1
modNPlanes =  1
modMuidMat = {MuIDUpstream:modMuidMat}
modMuidRot = 'noRotate'

#Loading MuID Barrel SubDetector
[MuIDBarrel]
subbuilders = ['RPCTray_EndRot']
class = duneggd.SubDetector.MuIDBarrel.MuIDBarrelBuilder
modMuidDim = [Q('400cm'), Q('400cm'), Q('600cm')]
modSteelPlateDim = [Q('400cm'), Q('400cm'), Q('20cm')]
modMuidPos =[Q('0cm'),Q('0cm'),Q('0cm')]
nMuTracker = 100
modNTraysPerPlane = 1
modNPlanes =  1
modMuidMat = {MuIDUpstream:modMuidMat}
modMuidRot = 'noRotate'

#Loading RPC part in Active
[RPCPad]
class              = duneggd.Active.RPCPad.RPCPadBuilder
actRpcModDim    =[Q('20.0cm'),Q('10.0cm'),Q('1.5cm')]
actResiplateDim =[Q('19.6cm'),Q('9.6cm'),Q('0.3cm')]
actStripxDim     =[Q('0.765cm'),Q('9.6cm'),Q('0.35cm')]
actStripyDim     =[Q('19.6cm'),Q('0.75cm'),Q('0.35cm')]
actGas_gap      =Q('0.2cm')
actRpcModMat          = 'Air'
actResiplateMat       = 'Bakelite'
actGasMat             = 'rpcGas'
actRpcReadoutMat      = 'Honeycomb'
Sensitive             = 'RPCPad'

# Loading the RPC SubDetector
[RPCMod]
subbuilders   = ['RPCPad']
class = duneggd.Component.RPCMod.RPCModBuilder
compRpcModDim  = {RPCPad:actRpcModDim}
compGas_gap      ={RPCPad:actGas_gap}
compResiplateDim =[Q('19.6cm'),Q('9.6cm'),Q('0.3cm')]
compStripxDim     =[Q('0.765cm'),Q('9.6cm'),Q('0.35cm')]
compStripyDim     =[Q('19.6cm'),Q('0.75cm'),Q('0.35cm')]
compRotPlaneEven  ='noRotate'
compRotPlaneOdd   ='r90aboutY'

# Yse RPC SubDetector to constitue RPC tray
[RPCTray_End]
subbuilders = ['RPCMod']
class = duneggd.Component.RPCTray.RPCTrayBuilder
compDimension =[Q('400cm'), Q('400cm'), Q('1.5cm')]
compMaterial ='Air'
compNrpcCol = 10
compNrpcRow = 20
compRotation = 'noRotate'

[RPCTray_EndRot]
subbuilders = ['RPCMod']
class = duneggd.Component.RPCTrayRot.RPCTrayRotBuilder
compDimension =[Q('400cm'), Q('1.5cm'), Q('400cm')]
compExtend =[Q('0cm'), Q('0cm'), Q('0cm')]
compMaterial ='Air'
compNrpcCol = 1
compNrpcRow = 20
compRotation = 'r90aboutX'
