[Primary]
class               = duneggd.Det.Primary.PrimaryBuilder
#subbuilders         = ['LArTracker','StrawDetector1','OgasciGasTracker','StrawDetector2']
#subbuilders         = ['LArTracker','StrawDetector1','StrawDetector2']
subbuilders         = ['LArTracker']
halfDimension       = {'dx':Q('2m'),'dy':Q('2m'),'dz':Q('5m')}
Material            = 'Air'
InsideGap           = [Q('0.25m'),Q('0.25m'),Q('0.25m'),Q('0.25m')]
BField              = "(0.4 T, 0.0 T, 0.0 T)"
#InsideGap           = [Q('0.25m'),Q('0.25m'),Q('0.25m')]
#InsideGap           = [Q('0.25m')]

###############################
# OgasciGasTracker
###############################
[OgasciGasTracker]
class               = duneggd.SubDetector.SurSubDetector.SurSubDetectorBuilder
subbuilders 				= ['Ogasci','GasTracker']
halfDimension       = {'dx':Q('2m'),'dy':Q('2m'),'dz':Q('1.75m')}
Material            = 'Air'
InsideGap           = Q('0.20m')

###############################
# Ogasci
###############################
[Ogasci]
class               = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
subbuilders         = ['DoubleArrPlane']
halfDimension       = {'dx':Q('1m'),'dy':Q('1m'),'dz':Q('1.75m')}
Material            = 'Air'
NElements           = 17
InsideGap	          = Q('0cm')
BeginGap            = Q('1cm')
TranspV             = [0,0,1]
Rotation            = ['0deg','0deg','0deg']

[DoubleArrPlane]
class               = duneggd.Component.DoubleArrangePlane.DoubleArrangePlaneBuilder
subbuilders         = ['DoubleRectBar']
halfDimension       = {'dx':Q('1m'),'dy':Q('1m'),'dz':Q('10cm')}
Material            = 'Scintillator'
NElements1          = 6
NElements2          = 6
InsideGap1          = Q('0.5cm')
InsideGap2          = Q('0.5cm')
TranspV1            = [-1,0,0]
TranspV2            = [0,-1,0]
Rotation1           = ['0deg','0deg','0deg']

[DoubleRectBar]
class               = duneggd.Active.RectBar.RectBarBuilder
Material            = 'Oil'
halfDimension       = {'dx':Q('16cm'),'dy':Q('16cm'),'dz':Q('10cm')}
AuxParams           = {"SensDet":"Ogasci"}


###############################
# GasTracker
###############################
[GasTracker]
class 							= duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
subbuilders 				= ['GasTSub']
halfDimension       = {'dx':Q('1m'),'dy':Q('0.4m'),'dz':Q('1.75m')}
Material            = 'stGas_Ar'
NElements           = 0
Rotation            = ['0deg','90deg','0deg']

[GasTSub]
class               = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
subbuilders         = ['GasPlane']
halfDimension       = {'dx':Q('1.75m'),'dy':Q('0.4m'),'dz':Q('1m')}
Material            = 'Air'
NElements           = 1
BeginGap            = Q('5cm')
AuxParams           = {"SensDet":"GAr"}

[GasPlane]
class               = duneggd.Component.SingleArrangePlane.SingleArrangePlaneBuilder
halfDimension       = {'dx':Q('1.75m'),'dy':Q('0.4m'),'dz':Q('3cm')}
Material            = 'Scintillator'

###############################
# StrawTracker
###############################
[StrawDetector1]
class               = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
subbuilders 				= ['STPlaneF']
halfDimension       = {'dx':Q('2m'),'dy':Q('2m'),'dz':Q('0.25m')}
Material            = 'Air'
NElements           = 4
InsideGap           = Q('0.cm')
BeginGap            = Q('0cm')

[StrawDetector2]
class               = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
subbuilders         = ['STPlaneF']
halfDimension       = {'dx':Q('200cm'),'dy':Q('200cm'),'dz':Q('25cm')}
Material            = 'Air'
NElements           = 4
InsideGap           = Q('0.cm')
BeginGap            = Q('0cm')

[STPlaneF]
class               = duneggd.Component.SingleArrangePlane.SingleArrangePlaneBuilder
subbuilders         = ['STPlane']
halfDimension       = {'dx':Q('200cm'),'dy':Q('200cm'),'dz':Q('5.6cm')}
Material            = 'Air'
NElements           = 0
Rotation            = ['90deg','0deg','0deg']

[STPlane]
class               = duneggd.Component.STTPlane.STTPlaneBuilder
subbuilders         = ['STBar']
halfDimension       = {'dx':Q('200cm'),'dy':Q('5.6cm'),'dz':Q('200cm')}
Material            = 'Air'
NElements           = 132

[STBar]
class               = duneggd.Active.StrawTube.StrawTubeBuilder
halfDimension       = {'rmin':Q('0.0cm'), 'rmax':Q('3.cm'), 'dz':Q('200cm')}
Material            = 'stGas_Ar'
halfSTDimension     = {'rmin':Q('2.5cm'), 'rmax':Q('3.cm'), 'dz':Q('200cm')}
STMaterial          = 'Kapton'
halfWireDimension   = {'rmin':Q('0.0cm'), 'rmax':Q('0.003cm'), 'dz':Q('200cm')}
WireMaterial        = 'Kapton'
AuxParams           = {"SensDet":"StrawTracker"}

###############################
# LArTracker
###############################
[LArTracker]
class               = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
subbuilders         = ['LArTSub']
halfDimension       = {'dx':Q('2m'),'dy':Q('2m'),'dz':Q('2.25m')}
Material            = 'LAr'
NElements           = 0
Rotation            = ['0deg','90deg','0deg']
AuxParams           = {"SensDet":"LAr", "BField":"(0.4 T, 0.0 T, 0.0 T)", 
												"EField":"(500.0 V/cm, 0.0 V/cm, 0.0 V/cm)"}

[LArTSub]
class               = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
subbuilders         = ['LArTPlane']
halfDimension       = {'dx':Q('2.25m'),'dy':Q('2m'),'dz':Q('2m')}
Material            = 'LAr'
NElements           = 1
BeginGap            = Q('5cm')
AuxParams           = {"SensDet":"LAr"}

[LArTPlane]
class               = duneggd.Component.SingleArrangePlane.SingleArrangePlaneBuilder
halfDimension       = {'dx':Q('2.25m'),'dy':Q('2m'),'dz':Q('2.5cm')}
Material            = 'Scintillator'
