[World]
class               = duneggd.World.WorldBuilder
#subbuilders         = ['DetEnclosure']
subbuilders         = ['ND_Hall_Air_Volume']
#subbuilders         = ['ND_Hall_Rock']
halfDimension       = {'dx':Q('200m'),'dy':Q('200m'),'dz':Q('200m')}
Material            = 'Rock'
# Mike Kordosky: position choosen here to exactly match 
# the hall used by the ND task force  (site.xml)
#DetEncPosition      = [Q('0cm'), Q('433.096cm'), Q('739.61625cm')]
#DetEncPosition      = [Q('0cm'), Q('0cm'), Q('0cm')]
#DetEncPosition       = [Q('-18484mm'), Q('-1005.27mm'), Q('9.6m')]
#RockPosition         = [Q('0m'), Q('0m'), Q('-90.025m')]
RockPosition       = [Q('-18484mm'), Q('-1005.27mm'), Q('9.6m')]

